.container-fluid {
    background-color: grey;
    /* height: 100%;
    width: 100%; */
}


/* #searchCol {
    background-color: green;
    height: 100%;
} */

/* .side {
    position:absolute;
    width:30%;
    height: 100%;
  }

.left {
    left:0;
    background-color: red;
  }

#searchCol {
    padding: 5px;
} */